<html>
{% load static %}
    <head>
        <title>dod9424 Django Girls blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}"><!--blog.cssをdjango形式で読み込み-->
    </head>
    <body class="all">
        <div class="page-header">
            {% if user.is_authenticated %}<!--ユーザーがログインしている時は新規作成とドラフトリストへのリンクアイコンの表示-->
        <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a><!--新規作成用のリンクを表示-->
        <a href="{% url 'post_draft_list' %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a><!--ドラフトリストのリンクを表示-->
        <p class="top-menu">Hello {{ user.username }} <small>(<a href="{% url 'logout' %}">Log out</a>)</small></p><!--トップメニューにhello<ユーザーネーム>とログアウトのリンクを表示-->
            {% else %}<!--elseの時はログインアイコンの表示-->
        <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
            {% endif %}
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
        <footer>
            <h2><a href="/" class="Home">Home</a></h2><!--ホームに戻るリンクを追加-->
            <p class="Home">create by dod9424</p><!--フッターに作成者名を表示-->
        </footer>
    </body>
</html>