.btn
{
    position: relative;
    top: 15px;
    clear: both;
}

.draft
{
    color: #ffffff;
    margin-left: 20px;
}

.draft_text
{
    margin-left: 20px;
    background-color: cornsilk;
    margin: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    position: relative;
    bottom: 10px;
    border-radius: 10px;
}

.comment_btn1
{
    position: relative;
    bottom: 30px;
    left: 20px;
}

.comment_btn2
{
    position: relative;
    bottom: 10px;
    right: -100px;
    float: left;
}

.comment_author
{
    clear: both;
    float: none;
    background-color: cornsilk;
    width: 100px;
    position: relative;
    bottom: 10px;
    margin-top: 30px;
    border-radius: 10px;
    padding-left: 10px;
}

h1 a,h2 a{
    color: #c25100;
    font-family: 'Lobster';
}

p{font-family: serif;}

.wel{font-family: serif;}

.all
{
    width: 100%;
    position: relative;
    min-height: 100%;
}

body{
    
    background-color: cornsilk;
    width: 100%;
    position: relative;
    min-height: 100%;
}

.page-header
{
    background-color: #c25100;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-headerh1 a:active
{
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content
{
    margin-left: 40px;
}

h1,h2,h3,h4
{
    font-family: 'Lobster',cursive;
}

.date
{
    color: #828282;
}

.save
{
    float: right;
}

.post-form textarea, .post-form input
{
    width: 100%;
}

.top-menu, .top-menu.hover, .top-menu:visited
{
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post
{
    margin-bottom: 70px;
    background-color: #c25100;
    height: auto;
    border-radius: 20px;
}

.post h2 a, .post h2 a:visited
{
    color: #000000;
}

.comment
{
    margin:20px 0px 20px 20px ;
}

.top_page
{
    float: right;
}

.list
{
    background-color: #c25100;
    width: 150px;
    height: 100px;
    border-radius: 20px;
    padding-left: 20px;
}

.list_list
{
    background-color: cornsilk;
    margin-right: 50px;
    margin-top: 5px;
    border-radius: 5px;
    position: relative;
    top: 2.5px;
    left: 15px;
    text-align:center
}

article
{
    color: #ffffff;
    background-color: #c25100;
    margin: 0;
    min-height: 750px;
    border-radius: 20px;
}

.box
{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    font-family: serif;
}

.blog_list
{
    background-color: cornsilk;
    color: #000000;
    margin: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
    border-radius: 10px;
    padding-left: 10px;
    min-height: 100px;
}

.post_title
{
    font-family: serif;
}

.title_name
{
    margin-left:  20px;
}

footer
{
    background-color: #c25100;
    color: #ffffff;
}

.Home
{
    color: #ffffff;
    padding-left: 20px;
    font-family: serif;
}

ul
{
    list-style: none;
}

.date
{
    background-color: cornsilk;
    margin: 5px;
    margin-top: 10px;
    height: 25px;
    clear: both;
    position: relative;
    top: 10px;
    padding-left: 10px;
    margin-left: 20px;
    border-radius: 20px;
    width: 150px;
}


.kiji
{ 
    padding-top: 20px;
    font-family: serif;
}

.kiji_box
{
    background-color: cornsilk;
    margin: 20px;
    margin-top: 20px;
    margin-left: 20px;
    padding-left: 20px;
    border-radius: 20px;
    position: relative;
    bottom: 10px;
    overflow: hidden;
    clear: both;
    min-height: 200px;
}

.kiji_comments
{
    background-color: cornsilk;
    margin: 20px;
    margin-top: 20px;
    margin-left: 30px;
    padding-left: 10px;
    border-radius: 20px;
    position: relative;
    bottom: 10px;
    overflow: hidden;
    clear: both;
    min-height: 200px;
    padding: 5px;
    font-family: serif;
}

.written
{
    text-align: right;
    padding-top: 120px;
    padding-right: 20px;
}

.post_title
{
    margin-left: 20px;
}

.No
{
    padding-left: 10px;
    color: #ffffff;
}

.outline
{
    color: cornsilk;
    background-color: #c25100;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    clear: both;
    position: relative;
    bottom: 10px;
}

.blog_list_link
{
    background-color: #c25100;
    float: right;
    margin-right: 20px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    margin-top: 50px;
}

.bp
{
    color: #ffffff;
}

.link
{
    background-color: cornsilk;
    margin-right: 10px;
    margin-left: 10px;
    padding-right: 20px;
}

.pages
{
    float: left;
    background-color: #c25100;
    padding: 5px;
    margin: 5px;
    color: #ffffff;
}